aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp-retry==2.9.1
aiosignal==1.3.2
asgiref==3.8.1
attrs==25.1.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
cloudinary==1.44.0
contourpy==1.3.3
cycler==0.12.1
dj-database-url==2.3.0
Django==5.1.6
django-cloudinary-storage==0.3.0
django-tailwind==4.0.1
fonttools==4.62.1
frozenlist==1.5.0
gunicorn==23.0.0
idna==3.10
kiwisolver==1.5.0
matplotlib==3.10.8
mercadopago==2.2.3
multidict==6.1.0
numpy==2.4.3
packaging==25.0
pillow==11.1.0
propcache==0.3.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.3.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
twilio==9.4.6
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
yarl==1.18.3
